<!--
Generated template for the Publishers page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Publishers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list [virtualScroll]="pubs">

    <ion-item *virtualItem="let item">
      <a class="item" href="#" (click)="itemTapped($event, item)" style="text-decoration:none;color:black!important;">
        <b>{{item.value}}</b>
      </a>

    </ion-item>

  </ion-list>
</ion-content>
