<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{item.value.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <img src="{{item.value.banner_url}}" class="center" /> -->

  <img src="{{item.value.icon_url}}" class="center" />

  <h3>{{item.value.name}}</h3>

  <h6 style="color:blue" *ngIf="item.value.platform_device == 'WUP'">
    Wii U
  </h6>
  <h6 style="color:red" *ngIf="item.value.platform_device == 'CTR'">
    3DS
  </h6>

  <span>Available in </span>
  <span *ngIf="item.value.availability.eshop && item.value.availability.retail">Eshop and Retail</span>
  <span *ngIf="item.value.availability.eshop && !item.value.availability.retail">Eshop only</span>
  <span *ngIf="item.value.availability.retail && !item.value.availability.eshop">Retail only</span>

  <p>
    {{item.value.description}}
  </p>
  <ng-container *ngIf="item.value.screenshots[0]">
    <ng-container *ngIf="!item.value.screenshots[0].upper">
      <div ion-item *ngFor="let img of item.value.screenshots">
        <img src="{{img}}" class="center"/>
      </div>
    </ng-container>
    <ng-container *ngIf="item.value.screenshots[0].upper">
      <div ion-item *ngFor="let img of item.value.screenshots">
        <img src="{{img.upper}}" class="center"/>
        <br>
        <img src="{{img.lower}}" class="center"/>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
