<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nintendo Games</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="icons" (ionChange)="selectedTabChanged(event)" color="primary">
    <ion-segment-button value="both">
      Both
    </ion-segment-button>
    <ion-segment-button value="WUP">
      Wii U
    </ion-segment-button>
    <ion-segment-button value="CTR">
      3DS
    </ion-segment-button>
  </ion-segment>
  <ion-searchbar
  debounce="500"
  (ionInput)="onInput($event)">
</ion-searchbar>
</ion-header>

<ion-content>
  <ion-list [virtualScroll]="posts" [virtualTrackBy]="virtualTrack" >

      <ion-item *virtualItem="let item" (click)="itemTapped($event, item)">

        <b>{{item.value.name}}</b>
        <small style="color:blue" *ngIf="item.value.platform_device == 'WUP'"> Wii U</small>
        <small style="color:red" *ngIf="item.value.platform_device == 'CTR'"> 3DS</small>

      </ion-item>

    </ion-list>
</ion-content>
