page-page2 {
  .ion-searchbar{
    background: color($colors, primary)!important;
  }
  .searchbar-ios{
    background: color($colors, primary)!important;
  }
  .segment-ios .segment-button
  {
    border-radius: 0!important;
  }
}
